/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #prk_ajax_container .project, #prk_ajax_container .event {
        padding-top: 60px;
    }

    .project-details-left, .event-details-left, .project-details-right, .event-details-right {
        width: 100%;
    }

    #prk_ajax_container .project-details-left, #prk_ajax_container .event-details-left,
    #prk_ajax_container .project-details-right, #prk_ajax_container .event-details-right {
        width: 100%;
        padding-left: 10px;
        padding-right: 20px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #prk_ajax_container .project, #prk_ajax_container .event {
        padding: 0px 10px 0 10px;
    }

    .project-details-left, .event-details-left,
    #prk_ajax_container .project-details-left, #prk_ajax_container .event-details-left {
        width: 57%;
        padding-right: 0px;
        padding-left: 0px;

    }

    .project-details-right, .event-details-right,
    #prk_ajax_container .project-details-right, #prk_ajax_container .event-details-right {
        width: 43%;
        padding-left: 1%;
        padding-right: 0px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .project, .event {
        padding: 0px;
    }

    table.dataTable thead th.nowrap, table.dataTable tbody td.nowrap {
        white-space: nowrap;
    }

    table.dataTable tbody td.right {
        text-align: right;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

#project-map, #event-map {
    height: 450px;
    width: 100%;
}

.project-thumbnail-image, .event-thumbnail-image {
    width: 100%;
}

.event div, .project div {
    float: left;
}

.event .clear, .project .clear {
    clear: both;
}

.project-abstract p, .event-abstract p, .event-project-title {
    font-weight: bold;
}

.contact-role {
    padding-bottom: 20px;
}