#project-map {
    height: 450px;
    width: 100%;
}

.project-image {
    width: 100%;
}

.row div {
    float: left;
}

.clear {
    clear: both;
}

.project-details-left {
    width: 58%;

}

.project-details-right {
    width: 42%;
}

.contactrole {
    padding-bottom: 20px;
}